@model IEnumerable<Bloggengine.Models.Blogs>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Images)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posted)
        </th>
        <th></th>
    </tr>

   @foreach (var item in Model.Where(x => x.Author == User.Identity.Name)) {
        <tr>
        <td>
            <img src="@Url.Content(item.Images)" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Blog_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Blog_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Blog_Id })
        </td>
    </tr>
}

</table>
